#spaceship{
    position: absolute;
    bottom: 1%;
    left: 50%;
    background-image: url("spaceship.png");
    background-size: cover;
    width: 5%;
    height: 5%;
}

#music{
    position:absolute;
    top:90%;
}

.score{
    position: relative;
    width:30%;
    height:900px;
}

.bonus{
    position:absolute;
}


.gameframe{
    width: 70%;
    height: 900px;
    background-color: #31133B;
    position: relative;
}


.bullet{
    position:absolute;
}


.alien{
    position: absolute;
}


body{
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 100%;
}